body {
  background-color: black;
  color: white;
}

.audio-section {
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
}

.audio-player-card {
  background-color: black;
  border-radius: 15px;
}

.audio-player-card:hover .genre-text {
  background: -webkit-linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  animation: colorAnimate 20s linear infinite;
  background-size: 400%;
}

.audio-player-border {
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  border-radius: 15px;
  height: 100%;
  animation: colorAnimate 20s linear infinite;
}

.audio-player-main {
  background-color: black;
  border-radius: 20px;
  height: 100%;
  font-size: 20px;
}

@keyframes colorAnimate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}