.visualizer-container {
  position: absolute;
  bottom: -95px;
}

.visualizer-container__bar {
  display: inline-block;
  background: red;
  margin: 0 2px;
  width: 15px;
}
/* #bar0,
#bar5,
#bar10 {
  background: #fb0094;
}
#bar1,
#bar6,
#bar11 {
  background: #00f;
}
#bar2,
#bar7,
#bar12 {
  background: #0f0;
}
#bar3,
#bar8,
#bar13 {
  background: #ff0;
}
#bar4,
#bar9,
#bar14 {
  background: #f00;
} */

