body {
  overflow: hidden;
}

.background {
  /* position: absolute; */

  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  background-image: url("../audio-demo-1/img/img1.jpg");
  background-position: center center;
  background-size: cover;

  filter: blur(15px);
}

.track-title {
  /* position: absolute; */

  top: 200px;
  right: 0;
  left: 0;

  color: white;
  font-family: Calibri;
  font-size: 100px;
  text-align: center;
}

.visualizer-container {
  position: absolute;

  bottom: 450px;
  right: 0;
  left: 0;

  text-align: center;
}

.visualizer-container__bar {
  display: inline-block;
  background: black;
  margin: 0 2px;
  width: 25px;
}
