.graph-card {
  background-color: black;
  border-radius: 15px;
  height: 450px;
}
.graph-border {
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  border-radius: 15px;
  height: 100%;
  animation: colorAnimate 20s linear infinite;
}
.graph-main {
  background-color: black;
  border-radius: 20px;
  height: 100%;
  font-size: 20px;
}
