.header-section {
  height: 4rem;
  background-color: rgb(24, 24, 24);
}

.navbar-brand{
  padding: 0 !important;
}

.navbar-border {
  height: 1px;
  width: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
}

.custom-nav-container {
  padding: 0;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.user-option {
  margin-left: auto;
  margin-right: 75px;
}

.user-option a {
  color: #ffffff;
  margin-left: 25px;
}

.user-option .form-inline {
  position: relative;
  margin-left: 25px;
}

.user-dropdown {
  position: absolute;
  top: 4rem;
  width: 200px;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
  padding-bottom: 2px;
  box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0.2);
  margin-left: -100px;
}

.user-dropdown-main {
  background-color: rgb(24, 24, 24);
  width: 100%;
}

.user-dropdown-options {
  font-size: 18px;
}

.user-option .form-inline input {
  display: none;
}

.user-option .form-inline button {
  color: #ffffff;
}

.custom-menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom-menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom-menu-btn button img {
  width: 40px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-width {
  width: 100%;
}

.menu-width.overlay a {
  opacity: 1;
}

@media (max-width: 575.98px) {
  .login-text {
    display: none;
  }
}
