.popular-artist-section {
  background-color: rgb(24, 24, 24);
  padding-top: 20px;
  padding-bottom: 90px;
}

.popular-artist-button {
  font-size: 30px;
  cursor: pointer;
}

.popular-artist-card-border {
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  margin-left: 5px;
  margin-right: 5px;
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
  height: 250px;
  width: 200px;
  border-radius: 25px;
  padding: 3px;
}

.popular-artist-card {
  height: 244px;
  width: 194px;
  background-color: black;
  border-radius: 25px;
  padding: 7px;
}

.popular-artist-image {
  background-image: url("../images/1.jpg");
  height: 230px;
  width: 180px;
  background-size: cover;
  border-radius: 25px;
}

.popular-artist-cards {
  width: 1256px;
  position: relative;
  height: 250px;
  overflow-x: hidden;
}

.popular-artist-slider {
  position: absolute;
  right: 0px;
}
