.video-album-card-border {
  background: white;
  width: 30%;
  padding: 2px;
  border-radius: 25px;
  padding: 3px;
}

.video-album-card-border:hover {
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
  transform: scale(1.1);
}

.video-album-card {
  background-color: rgb(24, 24, 24);
  border-radius: 25px;
  padding: 15px;
}

.video-album-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.video-album-detail {
  margin-top: 20px;
}

.video-album-text {
  font-size: 20px;
}

.video-album-genre-border {
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  padding: 1px;
  border-radius: 50px;
  animation: colorAnimate 20s linear infinite;
}

.video-album-genre {
  padding: 5px 15px;
  border-radius: 50px;
  width: fit-content;
  background-color: black;
}

.video-video-album-genre-text {
  font-size: 15px;
  background: -webkit-linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  animation: colorAnimate 20s linear infinite;
  background-size: 400%;
}

.fa-play-circle {
  font-size: 65px;
  background: -webkit-linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnimate 20s linear infinite;
  background-size: 400%;
}
.video-album-slider-section {
  width: 1050px;
  position: relative;
  height: 520px;
  overflow-x: hidden;
}

.video-album-slider {
  position: absolute;
  right: 0px;
}

.video-album-group {
  width: 1050px;
}
