.album-card-border {
  background: white;
  width: 21vw;
  padding: 2px;
  border-radius: 25px;
  padding: 3px;
}

.album-card-border:hover {
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
  transform: scale(1.1);
}

.album-card {
  background-color: rgb(24, 24, 24);
  border-radius: 25px;
  padding: 15px;
}

.album-image {
  width: calc(21vw - 70px);
  height: calc(21vw - 70px);
  border-radius: 50%;
}

.album-detail {
  margin-top: 20px;
}

.album-text {
  font-size: 20px;
}

.album-genre-border {
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  padding: 1px;
  border-radius: 50px;
  animation: colorAnimate 20s linear infinite;
}

.album-genre {
  padding: 5px 15px;
  border-radius: 50px;
  width: fit-content;
  background-color: black;
}

.album-genre-text {
  font-size: 15px;
  background: -webkit-linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  animation: colorAnimate 20s linear infinite;
  background-size: 400%;
}

.fa-play-circle {
  font-size: 65px;
  background: -webkit-linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnimate 20s linear infinite;
  background-size: 400%;
}
.popular-album-slider-section {
  width: 75vw;
  position: relative;
  height: 520px;
  overflow-x: hidden;
}

.popular-album-slider {
  position: absolute;
  right: 0px;
}

.album-group {
  width: 75vw;
}

.popular-album-section-mobile {
  display: none !important;
}

@media (max-width: 575.98px) {
  .popular-album-section-desktop-tablet {
    display: none !important;
  }

  .popular-album-section-mobile {
    display: flex !important;
  }

  .album-card-border {
    width: 75vw;
  }

  .album-image {
    width: calc(75vw - 70px);
    height: calc(75vw - 70px);
  }
}
