table {
  font-size: 20px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(24, 24, 24);
}

.admin-buttons {
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  animation: colorAnimate 20s linear infinite;
}
.admin-buttons-inner {
    border-radius: 10px;
    padding: 5px 10px;
    background: black;
    margin: 1px;
  }

  .admins-table{
    display: none;
  }
